body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: plum;

}

.navbar {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px 0;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

.hero-content p {
    font-size: 1em;
    font-style: italic;
}

.cta-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border-radius: 5px;
}

.about, .services, .footer {
    padding: 10px 10px;
    text-align: center;
}

.service-item {
    margin: 20px ;
}

.social-links a {
    margin: 5px; 
}